@import '../../../css/_variables.scss';

ul {
  display: flex;
  padding-inline: 0px;
  justify-content: space-between;
  list-style: none;
  font-size: 16px;
}

li {
  background-color: $background-color;
  padding-inline: 4px;
}

li::before {
  background-color: $accent-color;
  color: $accent-color;
  font-size: 12px;
  content: '■';
  border-radius: 50%;
  padding: .6em .9em;
  margin-inline-end: 1ch;
}

li::before {
  color: white;
  content: counter(list-item);
}



