<div>
  <mat-error *ngIf="pickType('')" inputType=""
    >Please enter an inputType property</mat-error
  >
  <!-- *valid inputType values : 'datePicker', 'gender', 'idNumber' -->

  <mat-form-field
    appearance="fill"
    *ngIf="pickType('datePicker')"
    inputType="datePicker"
  >
    <mat-label>Date of Birth</mat-label>
    <input matInput [formControl]="control" [matDatepicker]="picker" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon></mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field
    appearance="fill"
    *ngIf="pickType('gender')"
    inputType="gender"
  >
    <mat-label>Gender</mat-label>
    <mat-select [formControl]="control">
      <mat-option *ngFor="let item of genders" [value]="item">{{
        item
      }}</mat-option>
      <mat-icon matDatepickerToggleIcon></mat-icon>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    appearance="fill"
    *ngIf="pickType('idNumber')"
    inputType="idNumber"
  >
    <mat-label>ID Number</mat-label>
    <input matInput [formControl]="control" type="number" />
  </mat-form-field>
</div>
